@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}


*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: url('./regimg.jpg') no-repeat;
    background-size: cover;
  
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem 9%;
  }
  
  .header .navbar a {
    font-size: 1rem;
    color: #aaa;
    display: inline-block;
    margin: 0 1rem;
  }
  
  .header .navbar a:hover {
    color: #29d9d5;
  }
  
  .header .btn {
    margin-top: 0;
  }
  
  .logo {
    font-size: 2rem;
    color: #fff;
    font-weight: bolder;
  }
  
  .navbar{
    font-size: 15px;
  }
  .logo i {
    color: #29d9d5;
    padding-right: .5rem;
  }
  
  #menu-btn {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
.container{
    color: aliceblue;
    margin-left: 2%;
    margin-top: 5rem;
    font-size: 20px;
    text-align: center;
}
.panel-body{
    color: antiquewhite;
    position: relative;
    margin-left: 45%;
    border-color: aqua;
    width: 40%;
    margin-top: 5rem;

}
.form-group{
    font-size: 20px;
    
}
.form-group input{
    padding:  2px 5px;
    border-radius: 10px;
    font-size: 15px;
    
    
}
.border{
    size-adjust: 20px;
    border: 20px;

}
.panel-body form{
    border-color: aqua;
    width: 30%;
    
}
.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background-color: #1E1F1F;
  }
  
  .footer .box-container .box {
    padding: 0.1rem;
  }
  
  .footer .box-container .box .logo {
    padding-bottom: 1rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.0rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .footer .box-container .box p i {
    padding-right: .3rem;
    color: #29d9d5;
  }
  
  
  .footer .box-container .box .links {
    font-size: 1.4rem;
    color: #aaa;
    padding: 1rem 0;
    display: block;
  }
  
  .footer .box-container .box .links:hover {
    color: #29d9d5;
  }
  
  .footer .box-container .box .links:hover i {
    padding-right: 2rem;
  }
  
  .footer .box-container .box .links i {
    padding-right: .5rem;
    color: #29d9d5;
  }



